/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
}

/* Header */
header {
    text-align: center;
    padding: 30px;
    background: #111827;
}

header h1 {
    font-size: 2.5rem;
    color: #00ffcc;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    background: #1f2937;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    color: #00ffcc;
}

/* Cards */
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    background: #1e293b;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    background: #00ffcc;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background: #00ccaa;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111827;
}